.labels {
  @include flex(column);
  gap: rem-calc(28px);

  @include add-shadow($shadow-color-2, 0, 10, 30, 0);

  .labels__header {
    @include flex(row, space-between, baseline);

    h2 {
      @extend %btn-font;
    }
  }
  .container {
    width: 100%;
  }
}

#labels-form {
  .label__text {
    @include flex(row, null, center);
    gap: rem-calc(16px);

    span {
      @extend %body-text;
      @include add-text-hover($font-color, 0.6);
    }
  }
}
