.buttons {
  width: 281px;
  @include flex(column);
  gap: 20px;
  box-shadow: none;
}

%btn {
  @include flex(row, center,center);
  gap: rem-calc(10px);

  padding: rem-calc(13px) rem-calc(0);
  border-radius: rem-calc(8px);
  border: none;
  width: 100%;
}

@mixin add-btn-style($bg-color, $txt-color) {
  background-color: $bg-color;
  color: $txt-color;
  @include add-bg-hover($bg-color, 1);
}

.btn--primary {
  @extend %btn;
  @include add-btn-style($btn-primary-bg, $btn-primary-txt);
  .btn-icon {
    display: none;
  }
}

.btn--secondary {
  @extend %btn;
  @include add-btn-style($btn-secondary-bg, $btn-secondary-txt);
  .btn-icon {
    display: none;
  }
}

.btn--loading {
  @extend %btn;
  @include add-btn-style($btn-loading-bg, $btn-loading-txt);
}
