.progress {
  box-shadow: none;
}

.progress--circle {
  $size: 190px;
  $half-size: calc(#{$size} / 2);
  $stroke-width: 8px;
  $raduis: calc(#{$half-size} - #{$stroke-width});
  $circumference: calc(2 * pi * #{$raduis});
  $stroke-color: #33AC72;
  $bg-color: #ECF3FE;

  position: relative;
  width: $size;

  svg {
    --progress: 75; // Example progress value
    --dash: calc((var(--progress) * #{$circumference}) / 100);

    circle {
      cx: #{$half-size};
      cy: #{$half-size};
      r: #{$raduis};
      stroke-width: #{$stroke-width};
      fill: none;
      stroke-linecap: round;
    }

    circle.progress__bg {
      stroke: $bg-color;
    }

    circle.progress__fill {
      stroke-width: calc(#{$stroke-width} + 4px);
      transform: rotate(90deg);
      transform-origin: #{$half-size} #{$half-size};
      stroke-dasharray: var(--dash) calc(#{$circumference} - var(--dash));
      transition: stroke-dasharray 0.3s linear 0s;
      stroke: $stroke-color;
    }
  }

  .content {
    @include flex(column, center, center);
    gap: rem-calc(10px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .percentage {
    @include typography(32px, 600, 32px);
    color: $stroke-color;
  }

  .title {
    @include typography(12px, 400, 12px, 0.3);
    opacity: 0.5;
  }
}

@mixin set-progress-bar($bg-color, $fill-color, $bg-opacity: 1, $fill-opacity: 1) {
  .progress-bar {
    background-color: rgba($bg-color, $bg-opacity);
  }

  .progress-bar__fill {
    background-color: rgba($fill-color, $fill-opacity);
  }
}

%progress--ln {
  width: 225px;
  .progress-bar {
    width: 100%;
    border-radius: 200px;
    overflow: hidden;
  }

  .progress-bar__fill {
    height: 5px;
    width: var(--progress);
    border-radius: 200px;
    transition: width 0.3s ease-in-out; 
  }
}
