<div class="dropdown">
  <input type="checkbox" id="dropdown">
  <label class="dropdown__label" for="dropdown">
    <span class="dropdown__text"></span>
    <span class="dropdown__arrow"></span>
  </label>
  <div class="dropdown__items">
    <div class="dropdown__item">
    </div> <!-- dropdown__item -->
    <div class="dropdown__item">
    </div> <!-- dropdown__item -->
    <div class="dropdown__item">
    </div> <!-- dropdown__item -->
  </div> <!-- dropdown__items -->
</div> <!-- dropdown -->
