<section class="alerts w-408">
  <div class="alert--danger">
    <div class="alert-icon">
      <span>!</span>
    </div> <!-- alert-icon -->
    <div class="alert-text">
      <p class="title">Someting wrong</p>
      <p class="message">Lorem ipsum dolor sit amet</p>
    </div> <!-- alert-text -->
  </div> <!-- alert -->
  <div class="alert--attention">
    <div class="alert-icon">
      <span>i</span>
    </div> <!-- alert-icon -->
    <div class="alert-text">
      <p class="title">Need Attention</p>
      <p class="message">Adipiscing elit, sed do eiusmod</p>
    </div> <!-- alert-text -->
  </div> <!-- alert -->
  <div class="alert--success">
    <div class="alert-icon">
      <span>
        <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.14936 4.68331L4.44919 7.98314L11.0489 1.38348" stroke="white" stroke-width="1.45814" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>          
      </span>
    </div> <!-- alert-icon -->
    <div class="alert-text">
      <p class="title">Success</p>
      <p class="message">consectetur adipiscing elit sed</p>
    </div> <!-- alert-text -->
  </div> <!-- alert -->
  <div class="alert--primary">
    <div class="alert-icon">
      <span>
        <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.14936 4.68331L4.44919 7.98314L11.0489 1.38348" stroke="white" stroke-width="1.45814" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>          
      </span>
    </div> <!-- alert-icon -->
    <div class="alert-text">
      <p class="title">Other Condition</p>
      <p class="message">consectetur adipiscing elit sed</p>
    </div> <!-- alert-text -->
  </div> <!-- alert -->
</section> <!-- alerts -->  
