<section class="labels w-348 pb-24 pl-24">
  <header class="labels__header mr-12 mt-12">
    <h2 class="mt-12">Labels</h2>
    <img class="menu-icon head-icon" src="/assests/images/icons/list.svg" alt="menu icon" />
  </header> <!-- labels__header -->
  <div class="container">
    <div class="labels__body checkbox-group">
      <form id="labels-form" class="form-h">
        <div class="input-group form-control checkbox">
          <label>
            <div class="label__text">
              <img class="label__icon filter-gray" src="/assests/images/icons/tag.svg" alt="tag icon" />
              <span>Copywriting</span>
            </div> <!-- label-text -->
            <input type="checkbox" name="checkbox" value="1">
          </label>
        </div> <!-- input-group -->
        <div class="input-group form-control checkbox">
          <label>
            <div class="label__text">
              <img class="label__icon filter-gray" src="/assests/images/icons/tag.svg" alt="tag icon" />
              <span>UI Design</span>
            </div>
            <input type="checkbox" name="checkbox" value="1">
          </label>
        </div> <!-- input-group -->
        <div class="input-group form-control checkbox">
          <label>
            <div class="label__text">
              <img class="label__icon filter-gray" src="/assests/images/icons/tag.svg" alt="tag icon" />
              <span>Illustrations</span>
            </div> <!-- label-text -->
            <input type="checkbox" name="checkbox" value="1">
          </label>
        </div> <!-- input-group -->
      </form>
    </div>

  </div> <!-- container -->
</section>
