<section class="post w-348">
  <header class="post__header mr-12 mt-12">
    <div class="label">
      <p>Illustration</p>
    </div>
    <div class="post__header__icons">
      <img class="menu-icon head-icon" src="/assests/images/icons/list.svg" alt="menu icon">
    </div> <!-- post__header__icons -->
  </header> <!-- post__header -->
  <div class="post__body">
    <p class="post__desc text-13">
      Membuat konsep ilustrasi untuk halaman homepage dan about us
    </p>
  </div> <!-- post__body -->
  <footer class="post__footer">
    <div class="wrapper">
      <div class="icon-text-wrapper">
        <img class="filter-gray" src="/assests/images/icons/flag.svg" alt="tag icon">
        <p class="sub-text">Nov 24</p>
      </div> <!-- icon-text-wrapper -->
      <div class="icon-text-wrapper">
        <img class="filter-gray" src="/assests/images/icons/message.svg" alt="message icon">
        <p class="sub-text">2</p>
      </div> <!-- icon-text-wrapper -->
    </div> <!-- wrapper -->
    <figure class="avatar">
      <img src="/assests/images/avatars/avatar-2.svg" alt="avatar icon">
    </figure> <!-- avatar -->
  </footer> <!-- post__footer -->
</section> <!-- post -->
