$color: #102C38;

$thead-color: rgba($color, 0.5);
$tbody-color: rgba($color, 1);
// $table-striped-bg-factor: 0.02;
// $table-striped-bg: rgba(16, 44, 56, $table-striped-bg-factor);



/* Typography */
$font-family: 'Fira Sans', sans-serif;
$font-size: 16px;
$font-color: rgba(16, 44, 56, 1);
$font-weight: 400;

