.weekly-progress {
  gap: rem-calc(45px);
  padding-bottom: rem-calc(45px);

  &__header {
    @include flex(column);
    gap: rem-calc(12px);
  }

  .title-wrapper {
    @include flex(row, space-between, center);
    gap: rem-calc(16px);
  }

  &__body {
    @extend %flex-center-x;
  }
}
/* progress bar style is in the progress-bar.scss file */
