// Sass Variables

/* Colors */
$primary-color: black;
$secondary-color: #777C88;
$lt-green: #81D4AB;
$graph-border: #C3DF9C;
$graph-fill: #F3F9EB;
$white: #FFFFFF;

/* Typography */
$font-family: 'Inter', sans-serif;
$font-size: 16px;
$font-color: rgba(16, 44, 56, 1);
$font-weight: 400;

// main text #737983]
// dropdown border #E9EAEC;
// active #DEE9FC;