<section class="buttons w281px">
  <button class="btn--primary">
    <img src="/assests/images/icons/loading.svg" alt="plus icon" class="btn-icon" />
    <span>Normal Button</span>
  </button>
  <button class="btn--loading">
    <img src="/assests/images/icons/loading.svg" alt="plus icon" class="btn-icon" />
    <span>Loading Button</span>
  </button>
  <button class="btn--secondary">
    <img src="/assests/images/icons/loading.svg" alt="plus icon" class="btn-icon" />
    <span>Secondary Button</span>
  </button>
</section>
