<section class="design-hp w-408 pl-28 pb-24">
  <header class="design-hp__header mt-12 mr-12">
    <div class="header__icons">
      <img class="menu-icon head-icon" src="/assests/images/icons/list.svg" alt="menu icon" />
    </div> <!-- design-hp__header__icons -->
    <div class="header__title">
      <h2 class="card-title">Konsep design homepage</h2>
      <div class="wrapper">
        <img class="gray-icon" src="/assests/images/icons/flag.svg" alt="tag icon" />
        <p class="sub-text">Due Nov 24</p>
      </div> <!-- wrapper -->
    </div> <!-- header__title -->
  </header> <!-- design-hp__header -->

  <div class="design-hp__body pr-28">
    <p class="design-hp__desc text-13">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
    </p>

    <div class="design-hp__progress">
      <div class="design-hp__prog-text">
        <span class="text-13 title">Project Progress</span>
        <span class="text-13 percentage">32%</span>
      </div> <!--  design-hp__prog-text -->
      <div class="design-hp__prog-bar progress-bar--ln">
        <div class="progress-bar__fill" data-progress="28.57"></div>
      </div> <!-- design-hp__prog-bar -->
    </div> <!-- design-hp__progress -->

    <div class="design-hp__ppl">
      <div class="ppl-avatars">
        <img src="/assests/images/avatars/avatar-1.svg" alt="avatar icon" />
        <img src="/assests/images/avatars/avatar-2.svg" alt="avatar icon" />
        <img src="/assests/images/avatars/avatar-3.svg" alt="avatar icon" />
      </div> <!-- ppl__avatars -->
      <p class="ppl-text">+ 15 people</p>
      <img class="add-icon icon" src="/assests/images/icons/plus-circle-dotted.svg" alt="add icon" />
    </div> <!-- design-hp__ppl -->
  </div> <!-- design-hp__body -->
</section>
