<section class="file-attch w-408 pl-28 pr-28 pt-28 pb-28">
  <header class="file-attch__header">
    <h2 class="card-title">File Attachment</h2>
  </header>

  <div class="file-attch__body">
    <div class="file-attch__item">
      <figure class="icon file-icon">
        <img src="/assests/images/icons/pdf.svg" alt="pdf" />
      </figure> <!-- icon -->
      <div class="wrapper">
        <div class="file-attch__text">
          <p class="name">User-Journey.pdf</p>
          <p class="speed">4.5MB</p>
          <p class="status">Cancel</p>
        </div>  <!-- file-attch__text -->
        <div class="file-attch__prog-bar progress-bar--ln">
          <div class="progress-bar__fill" data-progress="28.57"></div>
        </div> <!-- file-attch__prog-nar -->
      </div> <!-- wrapper -->
    </div> <!-- file-attch__item -->
    <div class="file-attch__item">
      <figure class="icon file-icon">
        <img src="/assests/images/icons/xls.svg" alt="xls" />
      </figure> <!-- icon -->
      <div class="wrapper">
        <div class="file-attch__text">
          <p class="name">Data-Structure.xls</p>
          <p class="speed">12.4 MB</p>
          <p class="status download">Download</p>
        </div>  <!-- file-attch__text -->
        <p class="author">Angela Hope</p>
      </div> <!-- wrapper -->
    </div> <!-- file-attch__item -->
  </div> <!-- file-attch__body -->
</section>
