<header class="page-header">
  <div class="container">
    <div class="logo">
      <figure class="logo__image">
        <img src="/assests/images/icons/logo.svg" alt="logo" />
      </figure>
      <p class="logo__text">TASK</p>
    </div>
      <form id="search-form">
        <div class="search-bar wrapper">
          <figure class="search-icon">
            <img src="/assests/images/icons/search.svg" alt="search icon" />       
          </figure> <!-- search-icon -->
          <input type="search" id="search" name="search" placeholder="Search everything" />
        </div> <!-- wrapper -->
      </form> <!-- search-form -->
    <nav>
      <ul>
        <li><a href="#" class="active">Projects</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </nav>
  </div>
</header>
