<section class="labels w348px">
  <div class="container">
    <header class="labels__header">
      <h2>Labels</h2>
      <img class="menu-icon" src="/assests/images/icons/list.svg" alt="menu icon" />
    </header> <!-- labels__header -->

    <div class="labels-wrapper checkbox-group">
      <form id="labels-check">
        <div class="input-group checkbox">
          <label>
            <img class="label-icon" src="/assests/images/icons/tag.svg" alt="tag icon" />
            <span>Copywriting</span>
            <input type="checkbox" name="checkbox" value="1">
          </label>
        </div> <!-- input-group -->
        <div class="input-group checkbox">
          <label>
            <img class="label-icon" src="/assests/images/icons/tag.svg" alt="tag icon" />
            <span>UI Design</span>
            <input type="checkbox" name="checkbox" value="1">
          </label>
        </div> <!-- input-group -->
        <div class="input-group checkbox">
          <label>
            <img class="label-icon" src="/assests/images/icons/tag.svg" alt="tag icon" />
            <span>Illustrations</span>
            <input type="checkbox" name="checkbox" value="1">
          </label>
        </div> <!-- input-group -->
      </form>
    </div>

  </div> <!-- container -->
</section>
