<section class="recent-activity w-319 pb-28 pt-28 pr-28 pl-28">
  <header class="recent-activity__header">
    <h2 class="card-title">Recent Activity</h2>
  </header> <!-- recent-activity__header -->

  <div class="recent-activity__body">
    <div class="recent-activity__item">
      <figure class="recent-activity__icon icon">
        <img src="/assests/images/icons/messeage.svg" alt="message" />
      </figure>

      <div class="recent-activity__text">
        <p class="title"><span>Karen</span> leave some comments on Konsep Ilustrasi</p>
        <p class="date sub-text">Aug 10</p>
      </div> <!-- recent-activity__text -->
    </div> <!-- recent-activity__item -->
    <div class="recent-activity__item">
      <figure class="recent-activity__icon icon">
        <img src="/assests/images/icons/edit.svg" alt="pen" />
      </figure>

      <div class="recent-activity__text">
        <p class="title"><span>Karen</span> change project info on Project Homepage</p>
        <p class="date sub-text">Aug 10</p>
      </div> <!-- recent-activity__text -->
    </div> <!-- recent-activity__item -->
    <div class="recent-activity__item">
      <figure class="recent-activity__icon icon">
        <img src="/assests/images/icons/flag.svg" alt="flag" />
      </figure>

      <div class="recent-activity__text">
        <p class="title"><span>Andrea</span> change the due date of Project Homepage</p>
        <p class="date sub-text">Aug 10</p>
      </div> <!-- recent-activity__text -->
    </div> <!-- recent-activity__item -->
  </div> <!-- recent-activity__body -->
</section>
