<section class="tasks w-281 pl-28 pt-28 pb-28">
  <header class="tasks__header">
    <h2 class="card-title">Tasks</h2>
  </header>

  <form id="tasks-form" class="form-h">
    <div class="input-group form-control radio">
      <label>
        <div class="label__wrapper">
          <input type="radio" name="tasks" value="1">
          <div class="label__text">
            <span class="title">Design Homepage</span>
            <span class="date sub-text">Thu, Nov 23</span>
          </div> <!-- label-text -->
        </div> <!-- label-wrapper -->
        <figure class="avatar-icon">
          <img src="/assests/images/avatars/avatar-1.svg" alt="avatar icon" />
        </figure> <!-- avatar-icon -->
      </label> 
    </div> <!-- input-group -->
    <div class="input-group form-control radio">
      <label>
        <div class="label__wrapper">
          <input type="radio" name="tasks" value="1">
          <div class="label__text">
            <span class="title">Sketsa Ilustrasi</span>
            <span class="date sub-text">Mon, Nov 15</span>
          </div> <!-- label-text -->
        </div> <!-- label-wrapper -->
        <figure class="avatar-icon">
          <img src="/assests/images/avatars/avatar-2.svg" alt="avatar icon" />
        </figure> <!-- avatar-icon -->
      </label> 
    </div> <!-- input-group -->
    <div class="input-group form-control radio">
      <label>
        <div class="label__wrapper">
          <input type="radio" name="tasks" value="1">
          <div class="label__text">
            <span class="title">Onboarding Design</span>
            <span class="date sub-text">Wed, Nov 15</span>
          </div> <!-- label-text -->
        </div> <!-- label-wrapper -->
        <figure class="avatar-icon">
          <img src="/assests/images/avatars/avatar-3.svg" alt="avatar icon" />
        </figure> <!-- avatar-icon -->
      </label> 
    </div> <!-- input-group -->
  </form> <!-- tasks-form -->
</section> <!-- tasks-radio -->
