<section class="task-progress w-281 pl-28 pt-28 pr-28">
  <header class="task-progress__header">
    <h2 class="card-title">Task Progress</h2>
  </header> <!-- task-progress__header -->

  <div class="task-progress__body">
    <div class="task-progress__item">
      <div class="task-progress__text">
        <span class="text-13 title">Copywriting</span>
        <span class="sub-text percentage">3/8</span>
      </div> <!-- task-progress__text -->
      <div class="task-progress__bar progress-bar--ln">
        <div class="progress-bar__fill"></div>
      </div> <!-- task-progress__bar -->
    </div> <!-- task-progress__item -->
    <div class="task-progress__item">
      <div class="task-progress__text">
        <span class="text-13 title">Illustrations</span>
        <span class="sub-text percentage">6/10</span>
      </div> <!-- task-progress__text -->
      <div class="task-progress__bar progress-bar--ln">
        <div class="progress-bar__fill" data-progress="60"></div>
      </div> <!-- task-progress__bar -->
    </div> <!-- task-progress__item -->
    <div class="task-progress__item">
      <div class="task-progress__text">
        <span class="text-13 title">UI Design</span>
        <span class="sub-text percentage">2/7</span>
      </div> <!-- task-progress__text -->
      <div class="task-progress__bar progress-bar--ln">
        <div class="progress-bar__fill" data-progress="28.57"></div>
      </div> <!-- task-progress__bar -->
    </div> <!-- task-progress__item -->
  </div>
</section>
