<section class="weekly-progress w-319 pt-28 pl-28 pr-28">
  <header class="weekly-progress__header">
    <div class="title__wrapper">
      <h2 class="card-title">Weekly Progress</h2>
      <img class="menu-icon head-icon" src="/assests/images/icons/list.svg" alt="menu icon" />
    </div> <!-- title__wrapper -->
    <p class="subtitle sub-text">Start from Nov 7-14, 2020</p>
  </header> <!-- weekly-progress__header -->
  <div class="weekly-progress__body">
    <div class="progress--circle">
      <svg viewBox="0 0 190 190" style="--progress: 75">
        <circle class="progress__bg"></circle>
        <circle class="progress__fill"></circle>
      </svg>
      <div class="content">
        <span class="percentage">75%</span>
        <span class="title">Tasks Completed</span>
      </div> <!-- content -->
    </div> <!-- progress--circle -->      
  </div> <!-- progress__body -->
</section> <!-- weekly-progress -->
