<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/css/styles.css">
  <title>Document</title>
</head>
<body>
  <header class="page-header">
    <div class="container">
      <div class="logo">
        <figure class="logo__image">
          <img src="/assests/images/icons/logo.svg" alt="logo" />
        </figure>
        <p class="logo__text">TASK</p>
      </div>
        <form id="search-form">
          <div class="search-bar wrapper">
            <figure class="search-icon">
              <img src="/assests/images/icons/search.svg" alt="search icon" />       
            </figure> <!-- search-icon -->
            <input type="search" id="search" name="search" placeholder="Search everything" />
          </div> <!-- wrapper -->
        </form> <!-- search-form -->
      <nav>
        <ul>
          <li><a href="#" class="active">Projects</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="dropdown-menu w-408">
    <div class="dropdown">
      <input type="checkbox" id="dropdown">
      <label class="dropdown__label" for="dropdown">
        <div class="dropdown__text">
          <img src="/assests/images/icons/add-friend.svg" alt="add friend icon" />
          <span>Assign task to</span>
        </div>
        <div class="dropdown__arrow"></div>
      </label>
    
      <div class="dropdown__items">
        <div class="search-bar wrapper">
          <figure class="search-icon">
            <img src="/assests/images/icons/search.svg" alt="search icon" />       
          </figure> <!-- search-icon -->
          <input type="search" id="search" name="search" placeholder="Search everything" />
        </div> <!-- wrapper -->
        <div class="dropdown__item">
          <div class="avatar">
            <figure>
              <img src="/assests/images/avatars/avatar-1.svg" alt="avatar icon" />
            </figure>
            <span class="name">Angela Smith</span>
          </div> <!-- avatar -->
          <span class="tasks">16 task on progress</span>
        </div> <!-- dropdown__item -->
        <div class="dropdown__item">
          <div class="avatar">
            <figure>
              <img src="/assests/images/avatars/avatar-2.svg" alt="avatar icon" />
            </figure>
            <span class="name">Karen William</span>
          </div> <!-- avatar -->
          <span class="tasks">25 task on progress</span>
        </div> <!-- dropdown__item -->
        <div class="dropdown__item">
          <div class="avatar">
            <figure>
              <img src="/assests/images/avatars/avatar-3.svg" alt="avatar icon" />
            </figure>
            <span class="name">Samantha William</span>
          </div> <!-- avatar -->
          <span class="tasks">35 task on progress</span>
        </div> <!-- dropdown__item -->
        <div class="dropdown__item">
          <div class="avatar">
            <figure>
              <img src="/assests/images/avatars/avatar-4.svg" alt="avatar icon" />
            </figure>
            <span class="name">Andy Hope</span>
          </div> <!-- avatar -->
          <span class="tasks">12 task on progress</span>
        </div> <!-- dropdown__item -->
        <div class="dropdown__item">
          <div class="avatar">
            <figure>
              <img src="/assests/images/avatars/avatar-1.svg" alt="avatar icon" />
            </figure>
            <span class="name">Angela Smith</span>
          </div> <!-- avatar -->
          <span class="tasks">16 task on progress</span>
        </div> <!-- dropdown__item -->
        <div class="dropdown__item">
          <div class="avatar">
            <figure>
              <img src="/assests/images/avatars/avatar-1.svg" alt="avatar icon" />
            </figure>
            <span class="name">Angela Smith</span>
          </div> <!-- avatar -->
          <span class="tasks">16 task on progress</span>
        </div> <!-- dropdown__item -->
        <div class="dropdown__item">
          <div class="avatar">
            <figure>
              <img src="/assests/images/avatars/avatar-1.svg" alt="avatar icon" />
            </figure>
            <span class="name">Angela Smith</span>
          </div> <!-- avatar -->
          <span class="tasks">16 task on progress</span>
        </div> <!-- dropdown__item -->
      </div> <!-- dropdown__items -->
    </div> <!-- dropdown -->
  </section>
  

  <section class="post w-348">
    <header class="post__header mr-12 mt-12">
      <div class="label">
        <p>Illustration</p>
      </div>
      <div class="post__header__icons">
        <img class="menu-icon head-icon" src="/assests/images/icons/list.svg" alt="menu icon" />
      </div> <!-- post__header__icons -->
    </header> <!-- post__header -->
    <div class="post__body">
      <p class="post__desc text-13">
        Membuat konsep ilustrasi untuk halaman homepage dan about us
      </p>
    </div> <!-- post__body -->
    <footer class="post__footer">
      <div class="wrapper">
        <div class="icon-text-wrapper">
          <img class="gray-icon" src="/assests/images/icons/flag.svg" alt="tag icon" />
          <p class="sub-text">Nov 24</p>
        </div> <!-- icon-text-wrapper -->
        <div class="icon-text-wrapper">
          <img class="gray-icon" src="/assests/images/icons/messeage.svg" alt="tag icon" />
          <p class="sub-text">2</p>
        </div> <!-- icon-text-wrapper -->
      </div> <!-- wrapper -->
      <figure class="avatar">
        <img src="/assests/images/avatars/avatar-2.svg" alt="avatar icon" />
      </figure> <!-- avatar -->
    </footer> <!-- post__footer -->
  </section>


  
</body>


</html>
