@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/* colors */
/* fonts */
/* typography */
.tasks__header, .labels .labels__header h2 {
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.3px;
}

.create-card__form label {
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.4375rem;
}

.create-card__form textarea::-moz-placeholder {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.3125rem;
  letter-spacing: 0.3px;
}

#labels-form .label__text span, .card-item-wrapper .friend p, .create-card__form textarea::placeholder, nav li {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.3125rem;
  letter-spacing: 0.3px;
}

.search-bar input[type=search]::-moz-placeholder {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.75rem;
  letter-spacing: 0.3px;
}

.dropdown__item .tasks, .dropdown__item .name, .label, .search-bar input[type=search]::placeholder, .sub-text {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.75rem;
  letter-spacing: 0.3px;
}

.weekly-progress__body {
  display: flex;
  justify-content: center;
}

.recent-activity__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recent-activity__icon {
  height: 28px;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.container {
  margin: 0 auto;
}

section,
.page-header {
  border-radius: 8px;
  box-shadow: 0rem 0rem 3.75rem 0rem rgba(32, 56, 85, 0.1490196078);
}

section,
body,
.col-wrapper {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

body,
main {
  margin: 0 auto;
}

section {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.col-wrapper {
  flex-wrap: wrap;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form-control:not(:last-child)::after {
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ECECEC;
}
.form-control label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  margin-right: 1.5rem;
  cursor: pointer;
}

.form-h {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.head-icon,
.icon {
  cursor: pointer;
}

/*------------------------------------colors------------------------------------------*/
.filter-gray {
  filter: invert(98%) sepia(2%) saturate(4763%) hue-rotate(180deg) brightness(86%) contrast(91%);
}

.filter-white {
  filter: invert(100%) sepia(100%) saturate(49%) hue-rotate(148deg) brightness(112%) contrast(112%);
}

/*-----------------------------------typography -------------------------------------------*/
.card-title {
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.4375rem;
  letter-spacing: 0.3px;
  cursor: default;
}

.text-13 {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.3125rem;
  letter-spacing: 0.3px;
}

.sub-text {
  font-weight: 400;
  opacity: 0.5;
  color: #41475E;
}

/*------------------------------------padding and margin--------------------------------- */
.pl-28 {
  padding-left: 0.875rem;
}
@media (min-width: 769px) {
  .pl-28 {
    padding-left: 1.75rem;
  }
}

.pb-28 {
  padding-bottom: 0.875rem;
}
@media (min-width: 769px) {
  .pb-28 {
    padding-bottom: 1.75rem;
  }
}

.pt-28 {
  padding-top: 0.875rem;
}
@media (min-width: 769px) {
  .pt-28 {
    padding-top: 1.75rem;
  }
}

.pr-28 {
  padding-right: 0.875rem;
}
@media (min-width: 769px) {
  .pr-28 {
    padding-right: 1.75rem;
  }
}

.pl-24 {
  padding-left: 0.75rem;
}
@media (min-width: 769px) {
  .pl-24 {
    padding-left: 1.5rem;
  }
}

.pb-24 {
  padding-bottom: 0.75rem;
}
@media (min-width: 769px) {
  .pb-24 {
    padding-bottom: 1.5rem;
  }
}

.pt-24 {
  padding-top: 0.75rem;
}
@media (min-width: 769px) {
  .pt-24 {
    padding-top: 1.5rem;
  }
}

.pr-24 {
  padding-right: 0.75rem;
}
@media (min-width: 769px) {
  .pr-24 {
    padding-right: 1.5rem;
  }
}

.mr-8 {
  margin-right: 0.5rem;
}

.mt-8 {
  margin-top: 0.5rem;
}

.mr-12 {
  margin-right: 0.75rem;
}

.mt-12 {
  margin-top: 0.75rem;
}

.w-408 {
  width: 100%;
}

.w-281 {
  width: 100%;
}

.w-319 {
  width: 100%;
}

.w-348 {
  width: 100%;
}

body {
  gap: 1rem;
}

main {
  width: 95%;
  gap: 1rem;
}

.col-wrapper {
  gap: 1rem;
}

.col-408 {
  width: 100%;
}

.col-281 {
  width: 100%;
}

.col-319 {
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1087px) {
  main {
    width: 97%;
  }
  .container,
  .col-408 {
    width: 49%;
  }
  .col-281 {
    width: 100%;
  }
  .col-319 {
    width: 48%;
  }
  .tb-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .tb-row section {
    width: 48%;
    aspect-ratio: 1.5/1;
  }
}
@media (min-width: 1088px) {
  .container {
    width: 95.5882352941%;
  }
  main {
    width: 98%;
  }
  main,
  body {
    gap: 2.5rem;
  }
  .col-wrapper {
    gap: 2.5rem;
  }
  .col-408 {
    width: 37%;
  }
  .col-281 {
    width: 25.8272058824%;
  }
  .col-319 {
    width: 29.3198529412%;
  }
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: none;
}

.btn--loading, .btn--secondary, .btn--primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 0.8125rem 0rem;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  line-height: 1.4375rem;
}

.btn--primary {
  background-color: #7784EE;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn--primary:hover {
  background-color: #4a5be8;
}
.btn--primary .btn-icon {
  display: none;
}

.btn--secondary {
  background-color: #EAEEF6;
  color: #7784EE;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn--secondary:hover {
  background-color: #c6d1e7;
}
.btn--secondary .btn-icon {
  display: none;
}

.btn--loading {
  background-color: #D2D7FF;
  color: #5F6DDD;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn--loading:hover {
  background-color: #9faaff;
}

.alerts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: none;
}

.alert--dark, .alert--primary, .alert--attention, .alert--success, .alert--danger {
  border: 0.03125rem solid;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.125rem 0.0625rem 0rem rgba(64, 72, 82, 0.0509803922);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
  padding: 1rem 1.25rem;
}
.alert--dark .alert-icon, .alert--primary .alert-icon, .alert--attention .alert-icon, .alert--success .alert-icon, .alert--danger .alert-icon {
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1.4375rem;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #FFFFFF;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.alert--dark .alert-text, .alert--primary .alert-text, .alert--attention .alert-text, .alert--success .alert-text, .alert--danger .alert-text {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.alert--dark .alert-text .title, .alert--primary .alert-text .title, .alert--attention .alert-text .title, .alert--success .alert-text .title, .alert--danger .alert-text .title {
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: 0.5px;
}
.alert--dark .alert-text .message, .alert--primary .alert-text .message, .alert--attention .alert-text .message, .alert--success .alert-text .message, .alert--danger .alert-text .message {
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1.0625rem;
  letter-spacing: 0.5px;
}

.alert--danger {
  background-color: #FFF8F8;
  border-color: #F85640;
}
.alert--danger .alert-text .title {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  color: #F85640;
}
.alert--danger .alert-text .title:hover {
  color: rgba(246, 42, 15, 0.6);
}
.alert--danger .alert-text .message {
  color: #79170A;
}
.alert--danger .alert-icon {
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #F85640;
}
.alert--danger .alert-icon:hover {
  background-color: #f62a0f;
}

.alert--success {
  background-color: #DCF3EB;
  border-color: #34A770;
}
.alert--success .alert-text .title {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  color: #13854E;
}
.alert--success .alert-text .title:hover {
  color: rgba(13, 88, 52, 0.6);
}
.alert--success .alert-text .message {
  color: #10673E;
}
.alert--success .alert-icon {
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #34A770;
}
.alert--success .alert-icon:hover {
  background-color: #288056;
}

.alert--attention {
  background-color: #FFF8EF;
  border-color: #FBA63C;
}
.alert--attention .alert-text .title {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  color: #E18109;
}
.alert--attention .alert-text .title:hover {
  color: rgba(176, 101, 7, 0.6);
}
.alert--attention .alert-text .message {
  color: #BC741A;
}
.alert--attention .alert-icon {
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #FBA63C;
}
.alert--attention .alert-icon:hover {
  background-color: #fa8f0a;
}

.alert--primary {
  background-color: #E1F2FC;
  border-color: #08A0F7;
}
.alert--primary .alert-text .title {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  color: #08A0F7;
}
.alert--primary .alert-text .title:hover {
  color: rgba(6, 128, 198, 0.6);
}
.alert--primary .alert-text .message {
  color: #3387B7;
}
.alert--primary .alert-icon {
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #08A0F7;
}
.alert--primary .alert-icon:hover {
  background-color: #0680c6;
}

.alert--dark {
  background-color: #F8F9FA;
  border-color: #878f96;
}
.alert--dark .alert-text .title {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  color: #212529;
}
.alert--dark .alert-text .title:hover {
  color: rgba(10, 12, 13, 0.6);
}
.alert--dark .alert-text .message {
  color: #495057;
}
.alert--dark .alert-icon {
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #878f96;
}
.alert--dark .alert-icon:hover {
  background-color: #6d767d;
}

.progress {
  box-shadow: none;
}

.progress--circle {
  position: relative;
  width: 190px;
}
.progress--circle svg {
  --progress: 75;
  --dash: calc((var(--progress) * calc(6.2831853072 * calc(calc(190px / 2) - 8px))) / 100);
}
.progress--circle svg circle {
  cx: calc(190px / 2);
  cy: calc(190px / 2);
  r: calc(calc(190px / 2) - 8px);
  stroke-width: 8px;
  fill: none;
  stroke-linecap: round;
}
.progress--circle svg circle.progress__bg {
  stroke: #ECF3FE;
}
.progress--circle svg circle.progress__fill {
  stroke-width: calc(8px + 4px);
  transform: rotate(90deg);
  transform-origin: calc(190px / 2) calc(190px / 2);
  stroke-dasharray: var(--dash) calc(calc(6.2831853072 * calc(calc(190px / 2) - 8px)) - var(--dash));
  transition: stroke-dasharray 0.3s linear 0s;
  stroke: #33AC72;
}
.progress--circle .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.progress--circle .percentage {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
  color: #33AC72;
}
.progress--circle .title {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.75rem;
  letter-spacing: 0.3px;
  opacity: 0.5;
}

.progress-bar--ln {
  width: 100%;
}
.progress-bar--ln .progress-bar {
  width: 100%;
  border-radius: 200px;
  overflow: hidden;
}
.progress-bar--ln .progress-bar__fill {
  height: 5px;
  border-radius: 200px;
  transition: width 0.3s ease-in-out;
}

.search-bar.wrapper {
  position: relative;
}
.search-bar.wrapper .search-icon {
  position: absolute;
  top: 12px;
  left: 20px;
}
.search-bar input[type=search] {
  width: 100%;
  border-radius: 12.5rem;
  border: none;
  padding: 0.6875rem 1.25rem 0.8125rem 3.5625rem;
}
.search-bar input[type=search]:focus {
  outline: none;
}

.radio input, .checkbox input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  aspect-ratio: 1;
  cursor: pointer;
  background-color: rgba(8, 160, 247, 0.06);
  transition: background-color 0.2s ease-in-out;
}
.radio input::before, .checkbox input::before {
  content: "";
  background-image: url(/assests/images/icons/checkmark.svg);
  width: 11px;
  height: 8px;
  background-repeat: no-repeat;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
  pointer-events: none;
}
.radio input:checked, .checkbox input:checked {
  background-color: #08A0F7;
  border: 0.09375rem solid #FFFFFF;
}
.radio input:checked::before, .checkbox input:checked::before {
  transform: scale(1);
}

.checkbox input[type=checkbox] {
  border: 0.0625rem solid #08A0F7;
  border-radius: 0.1875rem;
}

.radio input[type=radio] {
  border: 0.0625rem solid #08A0F7;
  border-radius: 0.0625rem;
  border-radius: 50%;
}

/* label */
.label {
  border-radius: 12.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
}

.page-header {
  width: 100%;
}
.page-header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  gap: 2.5rem;
  padding: 0.75rem 0;
}

.mb-menu {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.mb-menu:hover {
  color: #a7b0bd;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.625rem;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.9375rem;
  letter-spacing: 0.5px;
  color: #08A0F7;
}

#search-form-task {
  display: none;
  width: 100%;
}
#search-form-task input[type=search] {
  background-color: #f4f7fc;
}

nav {
  display: none;
  margin-left: auto;
}
nav li a {
  text-decoration: none;
  color: rgba(18, 18, 18, 0.6);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
nav li a:hover {
  color: rgba(0, 0, 0, 0.6);
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.125rem;
}
nav .active {
  color: #08A0F7;
  font-weight: 600;
}
nav .active:hover {
  color: #08A0F7;
}

@media (min-width: 1088px) {
  nav {
    display: block;
  }
  #search-form {
    display: block;
  }
  .mb-menu {
    display: none;
  }
}
.create-card {
  gap: 1rem;
}
.create-card .container {
  width: 100%;
}
.create-card__header {
  display: flex;
  flex-direction: column;
  line-height: 0;
}
.create-card__header .header__icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.create-card__form {
  display: flex;
  flex-direction: column;
}
.create-card__form .form-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.create-card__form label {
  margin-bottom: 8px;
}
.create-card__form textarea {
  width: 100%;
  height: 9.375rem;
  padding: 1.25rem 1.25rem;
  resize: none;
  border: 0.0625rem solid #7784EE;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.3125rem 0.9375rem 0rem #7784EE;
}
.create-card__form textarea::-moz-placeholder {
  font-family: "Poppins", sans-serif;
}
.create-card__form textarea::placeholder {
  font-family: "Poppins", sans-serif;
}
.create-card__form textarea:focus {
  outline-color: #7784EE;
}

.card-items-wrapper {
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card-item:not(:last-child)::after {
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ECECEC;
}

.card-item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}
.card-item-wrapper .add-icon {
  cursor: pointer;
  margin-left: auto;
}
.card-item-wrapper .card-item-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.card-item-wrapper .label {
  background-color: rgba(8, 160, 247, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.card-item-wrapper .label p {
  color: #1778B0;
}
.card-item-wrapper .label:hover {
  background-color: rgba(6, 128, 198, 0.2);
}
.card-item-wrapper .friend {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}
.labels {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  box-shadow: 0rem 0.625rem 1.875rem 0rem rgba(57, 85, 120, 0.1019607843);
}
.labels .labels__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.labels .container {
  width: 100%;
}

#labels-form .label__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
#labels-form .label__text span {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
#labels-form .label__text span:hover {
  color: rgba(0, 0, 0, 0.6);
}

.tasks {
  gap: 1.5rem;
}
#tasks-form {
  gap: 1.25rem;
}
#tasks-form label {
  margin-right: 1.75rem;
}
#tasks-form .label__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
}
#tasks-form .label__text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
#tasks-form .label__text .title {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.3125rem;
  letter-spacing: 0.5px;
}
#tasks-form .label__text .title:hover {
  color: rgba(0, 0, 0, 0.6);
}
#tasks-form .avatar-icon {
  width: 1.5rem;
}

.weekly-progress {
  gap: 2.8125rem;
  padding-bottom: 2.8125rem;
}
.weekly-progress__header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.weekly-progress .title__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
/* progress bar style is in the progress-bar.scss file */
.dropdown {
  position: relative;
  width: 100%;
}
.dropdown .search-bar {
  width: 100%;
}
.dropdown .search-bar input[type=search] {
  background-color: #f4f7fc;
}
.dropdown__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}
.dropdown__label, .dropdown__items {
  border-radius: 0.5rem;
  width: 100%;
}
.dropdown__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.25rem;
}
.dropdown__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  box-shadow: 0rem 1.875rem 3.75rem 0rem rgba(32, 56, 85, 0.1490196078);
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  z-index: 1;
  position: absolute;
  left: 0;
  top: calc(100% + 1rem);
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.dropdown__items::before {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 0.8125rem;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #FFFFFF;
}
.dropdown__arrow {
  border-bottom: 2px solid #AFBDD8;
  border-right: 2px solid #AFBDD8;
  position: absolute;
  top: 50%;
  right: 1.25rem;
  width: 9px;
  height: 9px;
  transform: rotate(45deg) translateY(-50%);
}
.dropdown input[type=checkbox] {
  display: none;
}
.dropdown input[type=checkbox]:checked ~ .dropdown__items {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.dropdown__text {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.4375rem;
  letter-spacing: 0.5px;
  opacity: 0.7;
}

.dropdown__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.dropdown__item .avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.dropdown__item .avatar:hover {
  color: rgba(0, 0, 0, 0.7);
}
.dropdown__item .name {
  letter-spacing: 0.5px;
  opacity: 0.7;
}
.dropdown__item .tasks {
  font-weight: 400;
  opacity: 0.7;
  color: #41475E;
}

.task-progress {
  gap: 1.375rem;
  padding-bottom: 2rem;
}
.task-progress__body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.task-progress__item {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}
.task-progress__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.task-progress__item:nth-of-type(1) .task-progress__bar {
  background-color: rgba(157, 28, 178, 0.1);
}
.task-progress__item:nth-of-type(1) .task-progress__bar .progress-bar__fill {
  background-color: #d459e8;
  width: 37.5%;
}
.task-progress__item:nth-of-type(2) .task-progress__bar {
  background-color: rgba(52, 167, 112, 0.1);
}
.task-progress__item:nth-of-type(2) .task-progress__bar .progress-bar__fill {
  background-color: #46bd84;
  width: 60%;
}
.task-progress__item:nth-of-type(3) .task-progress__bar {
  background-color: rgba(8, 160, 247, 0.1);
}
.task-progress__item:nth-of-type(3) .task-progress__bar .progress-bar__fill {
  background-color: #08a0f7;
  width: 28.57%;
}

/* progress bar style in progress-bar.scss */
.recent-activity {
  gap: 1.75rem;
}
.recent-activity__body {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
.recent-activity__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.75rem;
}
.recent-activity__item:nth-of-type(1) .recent-activity__icon {
  background-color: #5DC983;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.recent-activity__item:nth-of-type(1) .recent-activity__icon:hover {
  background-color: #3db668;
}
.recent-activity__item:nth-of-type(2) .recent-activity__icon {
  background-color: #7784EE;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.recent-activity__item:nth-of-type(2) .recent-activity__icon:hover {
  background-color: #4a5be8;
}
.recent-activity__item:nth-of-type(3) .recent-activity__icon {
  background-color: #FBA63C;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.recent-activity__item:nth-of-type(3) .recent-activity__icon:hover {
  background-color: #fa8f0a;
}
.recent-activity__text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.recent-activity__text:hover {
  color: rgba(44, 48, 64, 0.5);
}
.recent-activity__text .title {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.5px;
  width: 100%;
  color: #41475E;
}
.recent-activity__text span {
  font-weight: 600;
}

.design-hp {
  gap: 1rem;
}
.design-hp__header {
  display: flex;
  flex-direction: column;
}
.design-hp__header .header__icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.design-hp__header .header__title {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}
.design-hp__header .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  margin-left: -3px;
}
.design-hp__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.design-hp__desc {
  letter-spacing: 0.5px;
}
.design-hp__progress {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.design-hp__prog-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.design-hp__prog-text span {
  font-weight: 500;
}
.design-hp__prog-bar {
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.design-hp__prog-bar {
  background-color: rgba(52, 167, 112, 0.1);
}
.design-hp__prog-bar .progress-bar__fill {
  background-color: #46bd84;
  width: 32%;
}
.design-hp__prog-bar:hover {
  background-color: rgba(40, 128, 86, 0.1);
}
.design-hp__ppl {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.design-hp__ppl .ppl-text {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.5px;
}
.design-hp__ppl .add-icon {
  margin-right: 0;
  margin-left: auto;
}
.design-hp .ppl-avatars img {
  border: 0.09375rem solid white;
  border-radius: 50%;
}
.design-hp .ppl-avatars img:nth-of-type(n+2) {
  margin-left: -15px;
}

.file-attch {
  gap: 1.875rem;
}
.file-attch__body {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
.file-attch__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}
.file-attch__item .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.file-attch__item .author {
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 0.6875rem;
  letter-spacing: 0.3px;
  opacity: 0.5;
}
.file-attch__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: 0.3px;
}
.file-attch__text .speed {
  font-size: 12px;
  font-weight: 400;
}
.file-attch__text .status {
  font-size: 12px;
  opacity: 0.54;
}
.file-attch__text .status.download {
  color: #7784EE;
  opacity: 1;
}
.file-attch__prog-bar {
  background-color: rgba(8, 160, 247, 0.15);
}
.file-attch__prog-bar .progress-bar__fill {
  background-color: #08a0f7;
  width: 50%;
}

.post {
  gap: 1rem;
  padding: 0rem 0rem 1rem 1rem;
}
.post__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.post__header .label {
  background-color: rgba(8, 160, 247, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.post__header .label p {
  color: #1778B0;
}
.post__header .label:hover {
  background-color: rgba(6, 128, 198, 0.2);
}
.post__body, .post__footer {
  padding-right: 1rem;
}
.post__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.post__footer .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}
.post__footer .icon-text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}
.post__footer .avatar img {
  width: 24px;
}

html, body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #121212;
  font-weight: 400;
}/*# sourceMappingURL=styles.css.map */