.container {
  // width: 84%;
  margin: 0 auto;
}

section, .page-header{
  border-radius: 8px;
  @include add-shadow(#20385526, 0, 30px, 60px, 0);
  // cursor: default;
}

section {
  @include flex(column);
}

.form-control {
  @include after-element;
  @include flex(column);
  gap: 16px;

  label {
    @include flex(row, space-between);
    gap: 16px;
    margin-right: rem-calc(24px);
    cursor: pointer;
  }
}

.form-h {
  @include flex(column);
  gap: 16px;
}

.head-icon,
.icon {
  cursor: pointer;
}

.sub-text {
  @extend %sub-text;
  font-weight: 400;
  opacity: 0.5;
  color: #41475E;
}

.gray-icon {
  fill: #C4CAD3 !important;
}

.card-title {
  @include typography(15px, 500, 23px, 0.3);
  cursor: default;
  // line-height: 0;
}

.text-13 {
  @include typography(13px, 400, 21px, 0.3);
}



.pl-28 {
  padding-left: rem-calc(14px); // Default for mobile

  @media (min-width: 769px) { // Adjust the breakpoint as needed
    padding-left: rem-calc(28px); // Full size for desktop
  }
}

.pb-28 {
  padding-bottom: rem-calc(14px); // Default for mobile

  @media (min-width: 769px) { // Adjust the breakpoint as needed
    padding-bottom: rem-calc(28px); // Full size for desktop
  }
}

.pt-28 {
  padding-top: rem-calc(14px); // Default for mobile

  @media (min-width: 769px) { // Adjust the breakpoint as needed
    padding-top: rem-calc(28px); // Full size for desktop
  }
}

.pr-28 {
  padding-right: rem-calc(14px); // Default for mobile

  @media (min-width: 769px) { // Adjust the breakpoint as needed
    padding-right: rem-calc(28px); // Full size for desktop
  }
}

.pl-24 {
  padding-left: rem-calc(12px); // Default for mobile

  @media (min-width: 769px) { // Adjust the breakpoint as needed
    padding-left: rem-calc(24px); // Full size for desktop
  }
}

.pb-24 {
  padding-bottom: rem-calc(12px); // Default for mobile

  @media (min-width: 769px) { // Adjust the breakpoint as needed
    padding-bottom: rem-calc(24px); // Full size for desktop
  }
}

.pt-24 {
  padding-top: rem-calc(12px); // Default for mobile

  @media (min-width: 769px) { // Adjust the breakpoint as needed
    padding-top: rem-calc(24px); // Full size for desktop
  }
}

.pr-24 {
  padding-right: rem-calc(12px); // Default for mobile

  @media (min-width: 769px) { // Adjust the breakpoint as needed
    padding-right: rem-calc(24px); // Full size for desktop
  }
}

.mr-8 {
  margin-right: rem-calc(8px);
}

.mt-8 {
  margin-top: rem-calc(8px);
}

.mr-12 {
  margin-right: rem-calc(12px);
}

.mt-12 {
  margin-top: rem-calc(12px);
}
