// .w-408 {
//   width: rem-calc(408px);
// }

// .w-281 {
//   width: rem-calc(281px);
// }

// .w-319 {
//   width: rem-calc(319px);
// }

// .w-348 {
//   width: rem-calc(348px);
// }

.w-408 {
  width: 100%;
}

.w-281 {
  width: 100%;
}

.w-319 {
  width: 100%;
}

.w-348 {
  width: 100%;
}

main {
  width: 100%;
  margin: 0 auto;
  padding-top: rem-calc(24px);

  @include flex(row, space-between, space-between);
  flex-wrap: wrap;
  gap: rem-calc(25px);
}

.col-wrapper {
  @include flex(column);
  flex-wrap: wrap;
  gap: rem-calc(25px);
}

section {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.col-408 {
  width: 100%;
}

.col-281 {
  width: 100%;
}

.col-319 {
  width: 100%;
}

.col-348 {
  width: 100%;
}

@media (min-width: 768px) {
  .container,

  .col-408 {
    width: calc(408 / 768 * 100%);
  }

  .col-281 {
    width: calc(281 / 768 * 100%);
  }

  .col-319 {
    width: calc(319 / 768 * 100%);
  }

  .col-348 {
    width: rem-calc(348px);
  }
  .w-408 {
    width: calc(408 / 768 * 100%);
  }

  .w-281 {
    width: calc(281 / 768 * 100%);
  }

  .w-319 {
    width: calc(319 / 768 * 100%);
  }

  .w-348 {
    width: rem-calc(348px);
  }
}

@media (min-width: 1088px) {
  .container {
    width: width-perc-calc(1088px, 24px);
  }

  main {
    gap: rem-calc(40px);
  }

  .col-wrapper {
    gap: rem-calc(40px);
  }

  .col-408 {
    width: calc(408 / 1088 * 100%);
  }

  .col-281 {
    width: calc(281 / 1088 * 100%);
  }

  .col-319 {
    width: calc(319 / 1088 * 100%);
  }

  .col-348 {
    width: rem-calc(348px);
  }
  .w-408 {
    width: calc(408 / 1088 * 100%);
  }

  .w-281 {
    width: calc(281 / 1088 * 100%);
  }

  .w-319 {
    width: calc(319 / 1088 * 100%);
  }

  // .w-348 {
  //   width: rem-calc(348px);
  // }
}
