.plan-cards-wrapper {
  @extend %flex-wrap;
  gap: rem-calc(40px);
  font-family: $font-family-standard;
  .eco-plan, .business-plan {
    background-color: $rise-300;
  }

  .family-plan {
    background-color: $candy-grap-800;
    color: $white;
  }
}

.plan-card {
  @include flex(column);
  @include btn(null, $umbra-700, 36px, 24px, 34px, 24px, 25px, null, false);
  gap: rem-calc(32px);

  @include add-border(1.5px, solid, $umbra-700, 25px);
  @include add-shadow($black, 10px, 10px, 0, 0);
}

.plan-header {
  @include flex(column);
  gap: rem-calc(16px);

  .plan-price {
    font-family: $font-family;
    @extend %mb-36;

    span {
      @include typography(18px, 700, 19.08px);
    }

  }

  .plan-name {
    @extend %mb-h4;
  }

  .plan-desc {
    @extend %mb-17;
  }

  &::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: $umbra-500;
    margin-top: 1rem;
  }
}

.plan-body {
  @include flex(column);

  .plan-body-li {
    @include flex(row);
    margin-bottom: rem-calc(19px);
    gap: 3px;
  }

}

.plan-body, .plan-footer {
  font-weight: 600;
}

.plan-footer {
  @include flex(row, center, center);
  gap: rem-calc(12px);
  @include add-border(1px, solid, $umbra-700, 15px);
  padding: rem-calc(15px) 0;
  line-height: 0;
  width: 100%;
}
