// &::after {
//   content: " ";
//   width: 100%;
//   height: 1px;
// }

/* typography */
%btn-font {
  @include typography(15px, 500, 24px);
  letter-spacing: 0.3px;
}

%title {
  @include typography(15px, 500, 23px);
}

%body-text {
  @include typography(13px, 400, 21px, 0.3);
}

%sub-text {
  @include typography(12px, 500, 12px, 0.3);
}

%flex-center-x {
  display: flex;
  justify-content: center;
}

%flex-center-y {
  display: flex;
  align-items: center;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}



%icon-bg {
  height: 28px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  @extend %flex-center;
}
