@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* colors */
$lt-blue: #08A0F7;
$dk-blue: #1778B0;
$white: #FFFFFF;

$btn-primary-bg: #7784EE;
$btn-primary-txt: $white;

$btn-loading-bg: #D2D7FF;
$btn-loading-txt: #5F6DDD;

$btn-secondary-bg: #EAEEF6;
$btn-secondary-txt: #7784EE;

$shadow-color-1: #20385526;
$shadow-color-2: #3955781A;

$black: #121212;
/* fonts */
$font-family: 'Poppins', sans-serif;
$font-color: #121212;
$font-size: 16px;
$font-weight: 400;

$red: #F85640;
$orange: #FBA63C;
$green: #34A770;

$border-raduis: 8px;